* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

body {
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.container {
  width: 414px;
  height: 896px;
  background-color: yellow;
}

.contain-img img {
  width: 100%;
}
